.content {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }

  input[type="text"]{
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  }

  .boxpart{
    padding: 50px;
    text-align: center;
    background: #ffffff;
    color: black;
    font-size: 30px;
  }

  .line{
    display: inline;
  }

  .disptodo{
    
    /* position: absolute; */
    text-align: left;
    
    list-style-type: circle;
    border:6px solid lightgreen;
    background-color: lightblue;

    display: list-item;
    margin:5px;
    background-color: lightyellow;
    /* background: blue;
    padding: 10px;
    text-align: center;
    display: list-item;
    list-style-position: inside; */
  }

input[type="submit"] {
    padding: 0px;
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 30px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    margin: 10px;
    }

    .formsection{
      position: relative;
      font-size: 30px;
      color:grey;
      padding-top: 10px;
      font:bold 30px arial,sans-serif;
      text-shadow: lightgray;
    }


    .strike:checked+span{
      text-decoration: line-through;
    }

    .del{
      padding: 0px;
      background: #0066A2;
      color: white;
      border-style: outset;
      border-color: #0066A2;
      height: 30px;
      width: 100px;
      font: bold 15px arial, sans-serif;
      text-shadow:none;
      margin: 10px;
    }

    .in{
      display: inline;
    }